<h1>New technical Request for the sys admin</h1>
<p>
  <span>User email:</span>
  <%= @user.email %>
</p>
<p>
  <span>User name:</span>
  <%= @user.name %>
</p>
<p>
  <span>Message:</span>
  <%= @message %>
</p>
